/* ***** STYLE FOOTER ***** */
/* Section 1 */

.sfooter_1 {
    background-color: #2D4059;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cardfoo {
    padding: 30px;
    flex: 300px;
}

.sf1_i {
    background-color: #C4C4C4;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}

.sf1_p h3 {
    color: #E5E5E5;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.sf1_p p {
    color: #E5E5E5;
    font-size: 18px;
    font-weight: 500;
}

/* Section 2 */

.sfooter_2 {
    background-color: #E5E5E5;
    color: #2D4059;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    padding: 80px 0;
}

.sfooter_2 ul {
    padding: 80px 0;
}

.sfooter_2 ul li {
    line-height: 90px;
}

.sfooter_2 ul li a {
    color: #2D4059;
}

/* Section 3 */

.sfooter_3 {
    background-color: #2D4059;
    color: #E5E5E5;
    font-size: 19px;
    padding: 15px 5px;
    text-align: center;
    line-height: 30px;
}
.sfooter_3 a {
    color: white;
    text-decoration: none;

}
.sfooter_3 a:nth-of-type(1){
    border-right: 2px solid white;
    padding-right: 5px;
}


@media screen and (min-width:700px) {


    /* Section 1 */

    // .sfooter_1 {
    //     display: flex;
    //     justify-content: center;
    // }

    .cardfoo {
        display: flex;
        flex-direction: row;
        padding: 0;
        display: flex;
        align-items: center;
    }

    .sf1_i {
        background-color: #C4C4C4;
        width: 36px;
        height: 36px;
        margin: 0;
        padding: 0;
        border-radius: 50%;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 26px 0 26px;
    }

    .sf1_p {
        width: 200px;
    }

    .sf1_p h3 {
        color: #E5E5E5;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .sf1_p p {
        color: #E5E5E5;
        font-size: 13px;
        font-weight: 500;
    }

    /* Section 2 */

    .sfooter_2 {
        background-color: #E5E5E5;
        color: #2D4059;
        padding: 65px 0;
        font-size: 18px;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        justify-content: space-around
    }

    ul.sf2_left {
        text-align: left;
    }

    ul.sf2_right {
        text-align: right;
    }

    .sfooter_2 ul {
        padding: 0;
    }

    .sfooter_2 ul li {
        line-height: 40px;
    }


}